services:
  n8n:
    container_name: n8n
    build:
      context: .
      dockerfile: Dockerfile
    image: custom-n8n:latest
    restart: always
    networks:
      - n8n_network
      # - dokploy_network # Uncomment if you need to access other Dokploy services by name
    environment:
      NODE_ENV: production
      GENERIC_TIMEZONE: ${GENERIC_TIMEZONE:-Europe/Rome}
      TZ: ${GENERIC_TIMEZONE:-Europe/Rome} # Good practice to set system TZ too

      # N8N Basic
      N8N_LOG_LEVEL: info # Switch back to info to save disk space unless debugging
      N8N_ENCRYPTION_KEY: ${N8N_ENCRYPTION_KEY}
      N8N_PROTOCOL: http
      N8N_HOST: ${N8N_HOST:-localhost}
      N8N_PORT: ${N8N_PORT:-5678}
      WEBHOOK_URL: https://n8n.mtgroupsrls.com
      N8N_PROXY_HOPS: 1
      N8N_BLOCK_ENV_ACCESS_IN_NODE: false
      N8N_GIT_NODE_DISABLE_BARE_REPOS: true
      N8N_SECURE_COOKIE: true
      N8N_ENFORCE_SETTINGS_FILE_PERMISSIONS: true
      #N8N_RESTRICT_FILE_ACCESS_TO: /tmp
      
      #Re-enable Execute ommand node
      NODES_EXCLUDE: "[]"

      # DATA PRUNING (Highly Recommended)
      EXECUTIONS_DATA_PRUNE: true
      EXECUTIONS_DATA_MAX_AGE: 336 # Keep logs for 14 days (in hours)
      
      # PERFORMANCE
      N8N_PAYLOAD_SIZE_MAX: 100 # Increase max payload to 100MB

      # Runners Configuration
      N8N_RUNNERS_MODE: external
      N8N_RUNNERS_BROKER_LISTEN_ADDRESS: 0.0.0.0
      N8N_RUNNERS_BROKER_PORT: 5679
      N8N_NATIVE_PYTHON_RUNNER: true
      # Quoted token
      N8N_RUNNERS_AUTH_TOKEN: 'r8F2kL4Z7nPqv9sJtXy6eW3UaH0RbV1QyM+Nk5o1BfA='
      
      # Database
      DB_TYPE: postgresdb
      DB_POSTGRESDB_HOST: ${DB_HOST}
      DB_POSTGRESDB_PORT: ${DB_PORT}
      DB_POSTGRESDB_USER: ${DB_USER}
      DB_POSTGRESDB_PASSWORD: ${DB_PASSWORD}
      DB_POSTGRESDB_DATABASE: ${DB_NAME}

    volumes:
      - n8n_data:/home/node/.n8n

    healthcheck:
      test: ["CMD-SHELL", "wget --spider http://localhost:5678/healthz || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
      start_period: 5s

  task-runners:
    container_name: n8n-runners
    image: n8nio/runners:latest
    restart: always
    networks:
      - n8n_network
    environment:
      # Sync Timezone with Main Instance
      GENERIC_TIMEZONE: ${GENERIC_TIMEZONE:-Europe/Rome}
      TZ: ${GENERIC_TIMEZONE:-Europe/Rome}
      
      # Connection
      N8N_RUNNERS_TASK_BROKER_URI: http://n8n:5679
      N8N_RUNNERS_AUTH_TOKEN: 'r8F2kL4Z7nPqv9sJtXy6eW3UaH0RbV1QyM+Nk5o1BfA='
      
      # Runner Settings
      N8N_RUNNERS_AUTO_SHUTDOWN_TIMEOUT: 0
      N8N_RUNNERS_LAUNCHER_LOG_LEVEL: info # Switch back to info
      # Optional: Control concurrency if your server runs out of RAM
      # N8N_RUNNERS_MAX_CONCURRENCY: 10 

    depends_on:
      n8n:
        condition: service_healthy

networks:
  n8n_network:
    driver: bridge
  # dokploy_network: # Use this if you need to connect to the external Dokploy network
  #   external: true

volumes:
  n8n_data:
    external: true